---
bodyClass: c-about
---

{% extends 'layouts/base.njk' %}

{% block content %}
    <section>
        <div class="center">
            <img src="/img/logo.png" class="c-about__logo" alt="Rajkot Engineering" />
        </div>
        <div class="c-about__description">
            <p>
                Something about Rajkot Engineering.
                Something about Rajkot Engineering.
                Something about Rajkot Engineering.
                Something about Rajkot Engineering.
                Something about Rajkot Engineering.
            </p>
            <br />
            <p>
                Something about Rajkot Engineering.
                Something about Rajkot Engineering.
                Something about Rajkot Engineering.
                Something about Rajkot Engineering.
            </p>
        </div>
    </section>

{% endblock %}